body {
    font-family: verdana;
    background-image: linear-gradient(to top right, red, white)
}

header p{
    text-align: center;
    color: white;
    margin: 3%;
    font-size: 100px;
    background-image: url("https://www.bhmpics.com/downloads/christmas-background-aesthetic/32.aesthetic-christmas-03.jpg")
}

b{
    color: red;
}

img{
    height: 40%;
    width:50%;
    text-align: center;
}

h1{ color: #a8e063;
    text-align: center;
    margin: 3%;
    font-size: 95px;
}


main p{
    text-align: center;
    margin: 3%;
    font-size: 35px;
    color: white;
    background: rgb(064, 128, 072, 0.8);
    padding: 10px;
}
